extends auth

block auth
  form.signup.form-horizontal(action="/users", method="post")
    .control-group
      label.control-label(for='firstName') Prénom
      .controls
        input#firstName(type='text', name="firstName", placeholder='Prénom', value=user.firstName)

    .control-group
      label.control-label(for='lastName') Nom
      .controls
        input#lastName(type='text', name="lastName", placeholder='Nom', value=user.lastName)

    .control-group
      label.control-label(for='email') Email
      .controls
        input#email(type='text', name="email", placeholder='Email', value=user.email)

    .control-group
      label.control-label(for='password') Mot de passe
      .controls
        input#password(type='password', name="password", placeholder='Mot de passe')

    .control-group
      label.control-label(for='phone') Téléphone
      .controls
        input#phone(type='text', name="phone", placeholder='Téléphone', value=user.phone)

    .control-group
      label.control-label(for='license') Licence
      .controls
        input#license(type='text', name="Licence", placeholder='Licence', value=user.license)

    .control-group
      label.control-label(for='club') Club
      .controls
        input#club(type='text', name="club", placeholder='Club', value=user.club)

    .control-group
      label.control-label(for='rank') Classement FFT
      .controls
        input#rank(type='text', name="rank", placeholder='Classement', value=user.rank)

    .control-group
      label.control-label(for='goal') Objectif
      .controls
        input#goal(type='text', name="goal", placeholder='Objectif', value=user.goal)

    // TODO faire des selects en twitter bootstrap
    // .control-group
    //  label.control-label(for='rank') Classement
    //  .controls
    //    .dropdown
    //        button#user.rank(href="#", data-toggle="dropdown").btn.btn-default.dropdown-toggle Classement
    //        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
    //            li
    //                a(href='#', tabindex='-1') 40
    //            li 
    //                a(href='#', tabindex='-1') 30/5
    //            li 
    //                a(href='#', tabindex='-1') 30/4
    //            li 
    //                a(href='#', tabindex='-1') 30/3
    //            li 
    //                a(href='#', tabindex='-1') 30/2
    //            li 
    //                a(href='#', tabindex='-1') 30/1
    //            li 
    //                a(href='#', tabindex='-1') 30
    //            li 
    //                a(href='#', tabindex='-1') 15/5

    //.control-group
    //  label.control-label(for='goal') Objectif
    //  .controls
    //    .dropdown
    //        button#user.goal(href="#", data-toggle="dropdown").btn.btn-default.dropdown-toggle Objectif
    //        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
    //           li
    //                a(href='#', tabindex='-1') 40
    //            li 
    //                a(href='#', tabindex='-1') 30/5
    //            li 
    //                a(href='#', tabindex='-1') 30/4
    //            li 
    //                a(href='#', tabindex='-1') 30/3
    //            li 
    //                a(href='#', tabindex='-1') 30/2
    //            li 
    //                a(href='#', tabindex='-1') 30/1
    //            li 
    //                a(href='#', tabindex='-1') 30
    //            li 
    //                a(href='#', tabindex='-1') 15/5

    .form-actions
      button.btn.btn-primary(type='submit') S'enregistrer
      &nbsp;
      | ou&nbsp;
      a.show-login(href="/signin") Se connecter

//
//script(src='lib/jquery/jquery.min.js')
//script(src='lib/bootstrap/js/bootstrap.button.js')
// script.
//        $('.dropdown-toggle').dropdown()
//